body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #fcf951ff;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 800;
  color: #333;
  font-size: 2rem;
}

.square {
  background: #333;
  border: 2px solid #fcf951ff;
  color: #ddd;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.game-info {
  margin-left: 20px;
}
.game-info ol button {
  padding: 10px;
  margin: 10px;
  color: #fff;
  border: none;
  background-color: #333;
}

.square {
  width: 100px;
  height: 100px;
}
